add_comments/__pycache__/__init__.cpython-38.pyc
add_comments/__pycache__/main.cpython-38.pyc
add_comments.egg-info/dependency_links.txt
add_comments.egg-info/entry_points.txt
add_comments.egg-info/PKG-INFO
add_comments.egg-info/SOURCES.txt
add_comments.egg-info/top_level.txt
